body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #d2f2ff, #76aae2); 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; 
}

.container {
    background: linear-gradient(to bottom, #ffffff, #a8d1e9); 
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    max-width: 90%; 
    min-width: 300px; 
    width: auto;
    max-height: 80vh; 
    overflow-y: auto; 
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

.image-class {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    display: block;
}

.image-class:hover {
    transform: scale(1.05);
}

h1 {
    font-size: 32px;
    color: #333;
    text-align: center;
    padding: 10px;
    margin: 10px 0; 
    border: 2px solid #007bff;
    border-radius: 10px; 
    background: linear-gradient(to right, #007bff, #004494); 
    color: #ffffff; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 28px;
    margin: 10px 0 20px 0; 
    color: #333;
    font-family: 'Arial', 'Helvetica', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

form {
    margin: 20px 0;
}

input[type="submit"], button {
    background: linear-gradient(to right, #007bff, #0056b3);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    max-width: 300px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover, button:hover {
    background: linear-gradient(to right, #0056b3, #004494);
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 16px;
}

p {
    margin-top: 10px; 
    font-size: 18px;
    color: #444;
    font-family: 'Arial', 'Helvetica', sans-serif;
    line-height: 1.6; 
    text-align: center;
}

p:hover {
    background-color: rgba(0, 123, 255, 0.1); 
    transform: translateY(-2px);
}

p a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

p a:hover {
    color: #0056b3;
}

.left-align {
    margin-top: 10px; 
    font-size: 18px;
    color: #444;
    font-family: 'Arial', 'Helvetica', sans-serif;
    line-height: 1.6; 
    text-align: left; /* Align text to the left */
}

.left-align:hover {
    background-color: rgba(0, 123, 255, 0.1); 
    transform: translateY(-2px);
}

.left-align a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.left-align a:hover {
    color: #0056b3;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
        max-width: 90%; 
        margin: 0 10px; 
    }

    h2 {
        font-size: 22px;
    }

    input, button {
        font-size: 14px;
    }

    p {
        font-size: 16px;
    }
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
