<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <div class="container">
        <h1>Budding AI</h1>
        <br>
        <H2> This is the Budding AI Landing page!
            <br> Welcome !
        </H2>
        <p> To Enter<br>Please type your User Name : 
        <form action = "/main" method="post">
            <input type = "text" name = "uname">
            <br><br>
            <input type = "submit" value = "Enter">
        </form>
    </p>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </div>
    
    

</body>