<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <div class="container">
        <h1>Wealth Management</h1>
        <br>
        <H2> This is the Wealth Management Landing page!
            <br> Welcome !!
        </H2>
        <p> Please Enter User Name : </p>
        <form action = "/main" method="post">
            <p><input type = "text" name = "uname"></p>
            <input type = "submit" value = "Enter">
        </p>
        </form>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </div>
    
    

</body>